<%- include("partials/header") %>
<h1>Service Project Categories</h1>
<ul>
    <% categories.forEach(category => { %>
        <li><%= category.category_name %></li>
    <% }) %>
</ul>
<%- include("partials/footer") %>
