<%- include('partials/header') %>
<h1><%= title %></h1>
<% if (categories.length > 0) { %>
    <ul>
        <% categories.forEach(category => { %>
            <li><%= category.category_name %></li>
        <% }) %>
    </ul>
<% } else { %>
    <p>No categories found.</p>
<% } %>
<%- include('partials/footer') %>